@font-face {
    font-family: reemkufi;
    src: url(ReemKufi.ttf);
}

body {
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, p, a {
    font-family: reemkufi;
    color: white;
}

.button {
    text-decoration: none;
    border-radius: 15px;
    border-color: darkslategray;
    background-color: ghostwhite;
    font-size: 25px;
    font-family: reemkufi;
    transition: 0.3s;
    color: black;
}
