.cookie{
  transition 0.2s;
}

.cookie:hover {
  width: 120%;
  transition: 0.2s;
}

.button {
    border-radius: 15px;
    border-color: darkslategray;
    background-color: ghostwhite;
    font-size: 25px;
    font-family: reemkufi;
    transition: 0.3s;
    color: black;
}
